Repository eifinger/hass-foldingathomecontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, debug-statements, mypy, pytest, yamllint, ruff

black:
  name: ☕️ Format using black
  language: system
  entry: rye run black
  require_serial: true

blacken-docs:
  name: ☕️ Format documentation examples using black
  language: system
  entry: rye run blacken-docs
  require_serial: true

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: rye run check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: rye run check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: rye run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: rye run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: rye run check-yaml

codespell:
  name: ✅ Check code for common misspellings
  language: system
  entry: rye run codespell --ignore-words=.codespell

debug-statements:
  name: 🪵  Debug Statements and imports (Python)
  language: system
  entry: rye run debug-statement-hook

mypy:
  name: 🆎 Static type checking using mypy
  language: system
  entry: rye run mypy
  require_serial: true

pytest:
  name: 🧪 Running tests and test coverage with pytest
  language: system
  entry: rye run pytest
  pass_filenames: false

yamllint:
  name: 🎗  Check YAML files with yamllint
  language: system
  entry: rye run yamllint

ruff:
  name: ⚡️ Check with ruff
  language: system
  entry: rye run ruff check
  args:
  - --force-exclude

feat: translate services for en and de
  custom_components/foldingathomecontrol/services.yaml
  custom_components/foldingathomecontrol/translations/de.json
  custom_components/foldingathomecontrol/translations/en.json
  custom_components/foldingathomecontrol/translations/nb.json
  custom_components/foldingathomecontrol/translations/pl.json
Due: check-json, check-yaml, codespell, yamllint

style: apply stricter style guidelines
  .codespell
  .pre-commit-config.yaml
  custom_components/__init__.py
  custom_components/foldingathomecontrol/__init__.py
  custom_components/foldingathomecontrol/button.py
  custom_components/foldingathomecontrol/foldingathomecontrol_client.py
  custom_components/foldingathomecontrol/foldingathomecontrol_device.py
  custom_components/foldingathomecontrol/sensor.py
  custom_components/foldingathomecontrol/translations/de.json
  custom_components/foldingathomecontrol/translations/en.json
  pyproject.toml
  tests/const.py
  tests/test_init.py
Due: black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, debug-statements, mypy, pytest, yamllint, ruff

refactor: switch from poetry to rye
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  LICENSE
  poetry.lock
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: check-toml, check-yaml, codespell, yamllint

2.4.0
  CHANGELOG.md
  custom_components/foldingathomecontrol/const.py
  custom_components/foldingathomecontrol/manifest.json
Due: black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, mypy, pytest, ruff

chore: pytest-homeassistant-custom-comp to 0.13.51
  pyproject.toml
Due: check-toml, codespell

chore: pytest-homeassistant-custom-comp to 0.13.51 (#432)
  pyproject.toml
Due: check-toml, codespell

chore: add sponsor buttons
  README.md
  docs/images/bmc-button.svg
  docs/images/configuration.png
  docs/images/example.png
  docs/images/paypal-button.svg
  hacs.json
  info.md
Due: blacken-docs, check-json, codespell

chore: add sponsor buttons (#433)
  README.md
  docs/images/bmc-button.svg
  docs/images/configuration.png
  docs/images/example.png
  docs/images/paypal-button.svg
  hacs.json
  info.md
Due: blacken-docs, check-json, codespell

ci: set packages for hatchling
  pyproject.toml
Due: check-toml, codespell

ci: set PyFoldingAtHomeControl as normal dep
  pyproject.toml
Due: check-toml, codespell

chore: Update deps
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: check-toml, codespell

ci: replace black with ruff
  .pre-commit-config.yaml
  custom_components/foldingathomecontrol/__init__.py
  custom_components/foldingathomecontrol/button.py
  custom_components/foldingathomecontrol/config_flow.py
  custom_components/foldingathomecontrol/foldingathomecontrol_client.py
  custom_components/foldingathomecontrol/foldingathomecontrol_device.py
  custom_components/foldingathomecontrol/sensor.py
  custom_components/foldingathomecontrol/services.py
  custom_components/foldingathomecontrol/timeparse.py
  pyproject.toml
  requirements-dev.lock
  tests/conftest.py
  tests/test_config_flow.py
  tests/test_init.py
  tests/test_sensor.py
Due: black, blacken-docs, check-ast, check-docstring-first, check-toml, check-yaml, codespell, debug-statements, mypy, pytest, yamllint, ruff

fix: use UnitOfTime.SECONDS
  custom_components/foldingathomecontrol/sensor.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, mypy, pytest, ruff

fix: use UnitOfTime.SECONDS (#444)
  custom_components/foldingathomecontrol/sensor.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, mypy, pytest, ruff

2.4.1
  CHANGELOG.md
  custom_components/foldingathomecontrol/const.py
  custom_components/foldingathomecontrol/manifest.json
Due: black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, mypy, pytest, ruff

Update __init__.py
  custom_components/foldingathomecontrol/__init__.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, mypy, pytest, ruff

fix: Use ConfigType instead of Config for hass.config (#455)
  custom_components/foldingathomecontrol/__init__.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, mypy, pytest, ruff

chore: change to uv and update deps
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .python-version
  .yamllint
  README.md
  custom_components/foldingathomecontrol/config_flow.py
  custom_components/foldingathomecontrol/foldingathomecontrol_client.py
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  tests/test_init.py
  uv.lock
Due: black, blacken-docs, check-ast, check-docstring-first, check-toml, check-yaml, codespell, debug-statements, mypy, pytest, yamllint, ruff

chore: change to uv and update deps (#456)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .python-version
  .yamllint
  README.md
  custom_components/foldingathomecontrol/config_flow.py
  custom_components/foldingathomecontrol/foldingathomecontrol_client.py
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  tests/test_init.py
  uv.lock
Due: black, blacken-docs, check-ast, check-docstring-first, check-toml, check-yaml, codespell, debug-statements, mypy, pytest, yamllint, ruff

2.4.2
  CHANGELOG.md
  custom_components/foldingathomecontrol/const.py
  custom_components/foldingathomecontrol/manifest.json
Due: black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, mypy, pytest, ruff

Path conditions:
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: (?x)^(
    rye.lock|
    custom_components/foldingathomecontrol/translations/nb.json|
    custom_components/foldingathomecontrol/translations/pl.json|
    custom_components/foldingathomecontrol/translations/pt.json
)$

  debug-statements: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  ruff: any of: \.py$
